<h1 class='center'>Pokémons</h1>
<div class='container'>
<div class="row">
<pokemon-search></pokemon-search>
<div *ngFor='let pokemon of pokemons' class="col s6 m4">
  <div class="card horizontal" pkmnBorderCard="royalblue"
    (click)="selectPokemon(pokemon)"
  >
    <div class="card-image">
      <img [src]="pokemon.picture">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{ pokemon.name }}</p>
        <p><small>{{ pokemon.created | date:'yyyy-MM-dd HH:mm:ss Z'}}</small></p>
        <span *ngFor='let type of pokemon.types' class='{{ type | pokemonTypeColor }}'>{{ type }}</span>
      </div>
    </div>
  </div>
</div>
</div>
</div>
